.content {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: 360px;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 3em;
  margin: 0;
  background: #2980b9;
  color: white;
}

.content__header h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 0.8em;
}

.content__header i {
  padding-right: 0.8em;
  font-size: 1.2rem;
  cursor: pointer;
}

.content__add {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3em;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid rgba(41, 128, 185, 0);
  position: relative;
}

.content__add input {
  outline: none;
  border: none;
  width: 88%;
  height: 100%;
  background-color: #f7f7f7;
  color: #2980b9;
  font-size: 1.1rem;
  padding: 0;
  font-weight: 700;
  font-family: 'Be Vietnam', sans-serif;
}

.content__add i {
  position: absolute;
  left: 335px;
  top: 17.7px;
  color: red;
  opacity: 0;
  font-size: 0.8rem;
}

.content__add-focus {
  border: 3px solid #2980b9;
}

.content__todo {
  margin: 0;
  padding: 0;
}

.content__todo li {
  list-style: none;
}

.content__todos {
  width: 100%;
  height: 2.7em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__todos h3 {
  margin: 0;
  font-size: 1rem;
  padding-left: 1.55em;
  font-weight: 500;
  color: #787878;
  cursor: pointer;
}

.content__todos h3:hover {
  opacity: 0.5;
}

.content__todos-bgWhite {
  background: white;
}

.content__todos-bgGray {
  background: #f7f7f7;
}

.content__todos-delete {
  height: 100%;
  width: 10%;
  position: relative;
  right: 40px;
  display: none;
  cursor: pointer;
}

.content__todos-delete div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
}

.content__todos-delete div i {
  font-size: 1.2rem;
  color: white;
}

.content__todos-delete-mouseIn {
  display: block;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.content__todos-delete-mouseOut {
  display: none;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *:a::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  font-family: 'Be Vietnam', sans-serif;
}

.main-div {
  position: absolute;
  right: 0;
  left: 0;
  top: 6em;
  margin-bottom: 4em;
}

.content {
  -webkit-box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.4);
  height: auto;
}
/*# sourceMappingURL=styles.css.map */