@import 'main';

html{
    box-sizing: border-box;
    
}

*,*::before,*:a::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #11998e, #38ef7d);
    font-family: 'Be Vietnam', sans-serif;
}

.main-div{
    position: absolute;
    right: 0;
    left: 0;
    top: 6em;
    margin-bottom: 4em;
}
.content{
    box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.4);
    height: auto;
}
